openapi: 3.0.3
info:
  title: 小说 RAG 分析系统 API
  description: |
    # 小说 RAG 分析系统后端 API 规范
    
    ## 系统概述
    
    本 API 为小说 RAG 分析系统提供后端服务，支持中文长篇小说的智能检索、问答和关系分析功能。
    
    ## 核心功能
    
    - 📚 **小说管理**：上传、存储、管理中文 TXT 小说
    - 🔍 **智能检索**：基于 RAG 技术的语义搜索和问答
    - 🎨 **关系分析**：自动提取人物关系并生成图谱
    - 📖 **章节处理**：自动识别和管理章节结构
    - 📊 **统计分析**：提供数据统计和分析功能
    
    ## 技术要求
    
    ### 数据格式要求
    
    - **文件格式**：仅支持 TXT 纯文本格式
    - **编码格式**：UTF-8、GBK、GB2312
    - **语言要求**：仅支持中文小说
    - **文件大小**：支持最大 50MB 单文件（约 300 万字）
    
    ### 数据校验规则
    
    后端在接收数据时会进行严格校验：
    
    1. **文件格式验证**：检查文件扩展名和 MIME 类型
    2. **编码检测**：自动检测并验证文本编码
    3. **内容验证**：
       - 检查是否为有效的文本内容
       - 验证中文字符占比（至少 60%）
       - 检测并拒绝非小说内容（如代码、日志等）
    4. **大小限制**：单文件不超过 50MB
    5. **字数统计**：自动统计并验证字数（最少 1000 字）
    
    ## 认证机制
    
    API 使用 JWT（JSON Web Token）进行身份认证：
    
    - 客户端登录后获取 JWT Token
    - 后续请求在 Header 中携带：`Authorization: Bearer <token>`
    - Token 有效期：7 天（可刷新）
    
    ## 错误处理
    
    API 使用标准 HTTP 状态码，错误响应统一格式：
    
    ```json
    {
      "error": {
        "code": "ERROR_CODE",
        "message": "错误描述信息",
        "details": "详细错误信息（可选）"
      }
    }
    ```
    
    ## 速率限制
    
    - 普通接口：100 次/分钟
    - 文件上传：10 次/分钟
    - RAG 问答：20 次/分钟
    - 关系图谱生成：5 次/分钟
    
  version: 1.0.0
  contact:
    name: API 支持
    email: support@novel-rag.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.novel-rag.com/v1
    description: 生产环境
  - url: https://staging-api.novel-rag.com/v1
    description: 测试环境
  - url: http://localhost:8000/v1
    description: 本地开发环境

tags:
  - name: 认证
    description: 用户认证和授权相关接口
  - name: 小说管理
    description: 小说的增删改查操作
  - name: 章节管理
    description: 章节识别和管理
  - name: 文本处理
    description: 文本上传、编码检测、向量化等处理
  - name: RAG 搜索
    description: 智能搜索和问答功能
  - name: 关系图谱
    description: 人物关系提取和图谱生成
  - name: 统计信息
    description: 数据统计和分析
  - name: 系统管理
    description: 系统健康检查和配置

paths:
  # ==================== 认证相关 ====================
  /auth/register:
    post:
      tags:
        - 认证
      summary: 用户注册
      description: 创建新用户账号
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - email
                - password
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 30
                  description: 用户名
                  example: "novel_reader"
                email:
                  type: string
                  format: email
                  description: 邮箱地址
                  example: "user@example.com"
                password:
                  type: string
                  minLength: 8
                  format: password
                  description: 密码（至少 8 位）
                  example: "SecurePass123!"
      responses:
        '201':
          description: 注册成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "注册成功"
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 用户已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - 认证
      summary: 用户登录
      description: 使用用户名/邮箱和密码登录
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifier
                - password
              properties:
                identifier:
                  type: string
                  description: 用户名或邮箱
                  example: "novel_reader"
                password:
                  type: string
                  format: password
                  description: 密码
                  example: "SecurePass123!"
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "登录成功"
                  token:
                    type: string
                    description: JWT 访问令牌
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  refreshToken:
                    type: string
                    description: 刷新令牌
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - 认证
      summary: 刷新访问令牌
      description: 使用刷新令牌获取新的访问令牌
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  description: 刷新令牌
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: 新的访问令牌
                  refreshToken:
                    type: string
                    description: 新的刷新令牌
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - 认证
      summary: 用户登出
      description: 登出并使当前令牌失效
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 登出成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "登出成功"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== 小说管理 ====================
  /novels:
    get:
      tags:
        - 小说管理
      summary: 获取小说列表
      description: 获取当前用户的所有小说，支持分页和筛选
      operationId: getNovels
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: 页码（从 1 开始）
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: 每页数量
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sortBy
          in: query
          description: 排序字段
          schema:
            type: string
            enum: [title, author, importedAt, wordCount]
            default: importedAt
        - name: sortOrder
          in: query
          description: 排序方向
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: search
          in: query
          description: 搜索关键词（书名或作者）
          schema:
            type: string
        - name: tags
          in: query
          description: 标签筛选（逗号分隔）
          schema:
            type: string
            example: "玄幻,修仙"
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Novel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - 小说管理
      summary: 创建小说记录
      description: |
        创建小说元数据记录（不包含文件上传）
        
        注意：实际的文本内容需要通过 `/novels/{novelId}/upload` 接口上传
      operationId: createNovel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: 小说标题
                  example: "斗破苍穹"
                author:
                  type: string
                  maxLength: 100
                  description: 作者名
                  example: "天蚕土豆"
                description:
                  type: string
                  maxLength: 2000
                  description: 小说简介
                  example: "这是一部玄幻小说..."
                tags:
                  type: array
                  items:
                    type: string
                  maxItems: 10
                  description: 标签列表
                  example: ["玄幻", "修仙", "热血"]
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "小说创建成功"
                  novel:
                    $ref: '#/components/schemas/Novel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /novels/{novelId}:
    get:
      tags:
        - 小说管理
      summary: 获取小说详情
      description: 获取指定小说的详细信息（包含章节列表）
      operationId: getNovelById
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NovelDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - 小说管理
      summary: 更新小说信息
      description: 更新小说的元数据（不包含内容）
      operationId: updateNovel
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: 小说标题
                author:
                  type: string
                  maxLength: 100
                  description: 作者名
                description:
                  type: string
                  maxLength: 2000
                  description: 小说简介
                tags:
                  type: array
                  items:
                    type: string
                  maxItems: 10
                  description: 标签列表
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "更新成功"
                  novel:
                    $ref: '#/components/schemas/Novel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - 小说管理
      summary: 删除小说
      description: |
        删除指定小说及其所有相关数据
        
        注意：此操作不可逆，将删除：
        - 小说文本内容
        - 章节数据
        - 向量索引
        - 关系图谱
        - 搜索历史
      operationId: deleteNovel
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "删除成功"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== 文本处理 ====================
  /novels/{novelId}/upload:
    post:
      tags:
        - 文本处理
      summary: 上传小说文本文件
      description: |
        上传 TXT 格式的小说文本文件
        
        处理流程：
        1. 文件格式和大小验证
        2. 编码检测和转换
        3. 内容验证（中文占比、字数等）
        4. 章节自动识别
        5. 文本向量化和索引构建
        
        注意：
        - 支持的编码：UTF-8、GBK、GB2312
        - 最大文件大小：50MB
        - 处理时间取决于文件大小，可能需要几分钟
      operationId: uploadNovelFile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: TXT 文件
                autoDetectChapters:
                  type: boolean
                  default: true
                  description: 是否自动识别章节
                chapterPattern:
                  type: string
                  description: |
                    自定义章节识别正则表达式（可选）
                    
                    默认支持：
                    - 第X章
                    - 第X回
                    - Chapter X
                  example: "第[\\d]+章"
      responses:
        '202':
          description: 上传成功，处理中
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "文件上传成功，正在处理中"
                  taskId:
                    type: string
                    description: 异步任务 ID，用于查询处理状态
                    example: "task_abc123"
                  estimatedTime:
                    type: integer
                    description: 预计处理时间（秒）
                    example: 120
        '400':
          description: 文件验证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidFormat:
                  value:
                    error:
                      code: "INVALID_FILE_FORMAT"
                      message: "文件格式不正确，仅支持 TXT 格式"
                fileTooLarge:
                  value:
                    error:
                      code: "FILE_TOO_LARGE"
                      message: "文件大小超过限制（最大 50MB）"
                invalidEncoding:
                  value:
                    error:
                      code: "INVALID_ENCODING"
                      message: "无法识别文件编码，请确保使用 UTF-8、GBK 或 GB2312"
                notChineseNovel:
                  value:
                    error:
                      code: "INVALID_CONTENT"
                      message: "文件内容不符合要求，中文字符占比过低"
                tooShort:
                  value:
                    error:
                      code: "CONTENT_TOO_SHORT"
                      message: "文本内容过短，至少需要 1000 字"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: 文件过大
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tasks/{taskId}/status:
    get:
      tags:
        - 文本处理
      summary: 查询异步任务状态
      description: 查询文件上传处理等异步任务的状态
      operationId: getTaskStatus
      security:
        - bearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          description: 任务 ID
          schema:
            type: string
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  taskId:
                    type: string
                    example: "task_abc123"
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]
                    description: |
                      任务状态：
                      - pending: 等待处理
                      - processing: 处理中
                      - completed: 完成
                      - failed: 失败
                    example: "processing"
                  progress:
                    type: integer
                    minimum: 0
                    maximum: 100
                    description: 处理进度（百分比）
                    example: 45
                  message:
                    type: string
                    description: 当前状态描述
                    example: "正在识别章节结构..."
                  result:
                    type: object
                    description: 任务完成后的结果（仅当 status=completed）
                    properties:
                      novelId:
                        type: string
                      wordCount:
                        type: integer
                      chapterCount:
                        type: integer
                      processingTime:
                        type: number
                        description: 处理耗时（秒）
                  error:
                    type: object
                    description: 错误信息（仅当 status=failed）
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /novels/{novelId}/validate:
    post:
      tags:
        - 文本处理
      summary: 验证小说文本
      description: |
        验证小说文本是否符合处理要求（不实际上传）
        
        用于前端预检查，快速反馈文件是否合格
      operationId: validateNovelFile
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 验证结果
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: 是否有效
                  encoding:
                    type: string
                    description: 检测到的编码
                    example: "UTF-8"
                  wordCount:
                    type: integer
                    description: 字数统计
                    example: 1250000
                  chineseRatio:
                    type: number
                    description: 中文字符占比
                    example: 0.92
                  estimatedChapters:
                    type: integer
                    description: 预估章节数
                    example: 450
                  warnings:
                    type: array
                    items:
                      type: string
                    description: 警告信息
                    example: ["检测到部分非标准章节标题"]
                  errors:
                    type: array
                    items:
                      type: string
                    description: 错误信息
                    example: []
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== 章节管理 ====================
  /novels/{novelId}/chapters:
    get:
      tags:
        - 章节管理
      summary: 获取章节列表
      description: 获取指定小说的所有章节
      operationId: getChapters
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chapter'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - 章节管理
      summary: 手动添加章节
      description: 手动创建章节划分（用于自动识别不准确的情况）
      operationId: createChapter
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - startPosition
                - endPosition
              properties:
                title:
                  type: string
                  description: 章节标题
                  example: "第一章 初入江湖"
                chapterNumber:
                  type: integer
                  description: 章节序号
                  example: 1
                startPosition:
                  type: integer
                  description: 起始位置（字符索引）
                  example: 0
                endPosition:
                  type: integer
                  description: 结束位置（字符索引）
                  example: 5230
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "章节创建成功"
                  chapter:
                    $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /novels/{novelId}/chapters/{chapterId}:
    get:
      tags:
        - 章节管理
      summary: 获取章节内容
      description: 获取指定章节的完整内容
      operationId: getChapterContent
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: chapterId
          in: path
          required: true
          description: 章节 ID
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapter:
                    $ref: '#/components/schemas/Chapter'
                  content:
                    type: string
                    description: 章节完整内容
                  paragraphs:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          description: 段落索引
                        content:
                          type: string
                          description: 段落内容
                        startPosition:
                          type: integer
                          description: 段落在章节中的起始位置
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - 章节管理
      summary: 更新章节信息
      description: 更新章节的标题或边界
      operationId: updateChapter
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: chapterId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 章节标题
                chapterNumber:
                  type: integer
                  description: 章节序号
                startPosition:
                  type: integer
                  description: 起始位置
                endPosition:
                  type: integer
                  description: 结束位置
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "更新成功"
                  chapter:
                    $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - 章节管理
      summary: 删除章节
      description: 删除指定章节（不删除内容，仅删除章节划分）
      operationId: deleteChapter
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: chapterId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "删除成功"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /novels/{novelId}/chapters/redetect:
    post:
      tags:
        - 章节管理
      summary: 重新识别章节
      description: |
        重新执行章节自动识别
        
        用于章节识别结果不满意时重新处理
      operationId: redetectChapters
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chapterPattern:
                  type: string
                  description: 自定义章节识别正则表达式
                  example: "第[\\d]+章"
                clearExisting:
                  type: boolean
                  default: true
                  description: 是否清除现有章节
      responses:
        '202':
          description: 重新识别任务已启动
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "章节重新识别任务已启动"
                  taskId:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== RAG 搜索与问答 ====================
  /search:
    post:
      tags:
        - RAG 搜索
      summary: 智能搜索和问答
      description: |
        基于 RAG 技术的智能搜索和问答
        
        处理流程：
        1. 问题理解和向量化
        2. 从指定小说中检索相关段落
        3. 基于检索结果生成答案
        4. 返回答案和引用来源
        
        注意：
        - 搜索范围可以是单部或多部小说
        - 结果包含原文引用和位置信息
        - 支持历史记录保存
      operationId: search
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 500
                  description: 搜索问题或关键词
                  example: "萧炎的师父是谁？"
                novelIds:
                  type: array
                  items:
                    type: string
                  description: |
                    搜索范围（小说 ID 列表）
                    
                    - 不指定：搜索所有小说
                    - 指定多个：在多部小说中搜索
                  example: ["novel_123", "novel_456"]
                topK:
                  type: integer
                  minimum: 1
                  maximum: 20
                  default: 5
                  description: 返回最相关的 K 个结果
                includeReferences:
                  type: boolean
                  default: true
                  description: 是否包含原文引用
                saveHistory:
                  type: boolean
                  default: true
                  description: 是否保存到搜索历史
      responses:
        '200':
          description: 搜索成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                    description: 原始问题
                    example: "萧炎的师父是谁？"
                  answer:
                    type: string
                    description: 生成的答案
                    example: "萧炎的师父是药尘，原名药尊者，曾是丹塔巨头之一..."
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1
                    description: 答案置信度
                    example: 0.92
                  references:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchReference'
                  relatedQuestions:
                    type: array
                    items:
                      type: string
                    description: 相关推荐问题
                    example: ["药尘是如何成为萧炎师父的？", "萧炎还有其他师父吗？"]
                  searchTime:
                    type: number
                    description: 搜索耗时（毫秒）
                    example: 245.6
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /search/history:
    get:
      tags:
        - RAG 搜索
      summary: 获取搜索历史
      description: 获取当前用户的搜索历史记录
      operationId: getSearchHistory
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: novelId
          in: query
          description: 筛选指定小说的搜索历史
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchHistory'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    delete:
      tags:
        - RAG 搜索
      summary: 清空搜索历史
      description: 删除所有搜索历史记录
      operationId: clearSearchHistory
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 清空成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "搜索历史已清空"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /search/history/{historyId}:
    delete:
      tags:
        - RAG 搜索
      summary: 删除单条搜索历史
      description: 删除指定的搜索历史记录
      operationId: deleteSearchHistory
      security:
        - bearerAuth: []
      parameters:
        - name: historyId
          in: path
          required: true
          description: 搜索历史 ID
          schema:
            type: string
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "删除成功"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== 人物关系图谱 ====================
  /novels/{novelId}/graph:
    get:
      tags:
        - 关系图谱
      summary: 获取人物关系图谱
      description: 获取指定小说的人物关系图谱
      operationId: getCharacterGraph
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterGraph'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 图谱不存在
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "GRAPH_NOT_FOUND"
                      message:
                        type: string
                        example: "人物关系图谱尚未生成，请先调用生成接口"

    post:
      tags:
        - 关系图谱
      summary: 生成人物关系图谱
      description: |
        为指定小说生成人物关系图谱
        
        处理流程：
        1. 人物实体识别（NER）
        2. 人物出场统计
        3. 关系抽取
        4. 图谱构建
        
        注意：
        - 此操作耗时较长（取决于小说长度）
        - 建议异步调用
        - 如图谱已存在，将重新生成
      operationId: generateCharacterGraph
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                minAppearances:
                  type: integer
                  minimum: 1
                  default: 5
                  description: 最少出场次数（过滤次要角色）
                maxCharacters:
                  type: integer
                  minimum: 10
                  maximum: 200
                  default: 50
                  description: 最多保留的人物数量
                includeMinorRelationships:
                  type: boolean
                  default: false
                  description: 是否包含次要关系
      responses:
        '202':
          description: 生成任务已启动
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "人物关系图谱生成任务已启动"
                  taskId:
                    type: string
                    description: 任务 ID
                  estimatedTime:
                    type: integer
                    description: 预计耗时（秒）
                    example: 300
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    delete:
      tags:
        - 关系图谱
      summary: 删除人物关系图谱
      description: 删除指定小说的人物关系图谱
      operationId: deleteCharacterGraph
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "删除成功"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /novels/{novelId}/characters:
    get:
      tags:
        - 关系图谱
      summary: 获取人物列表
      description: 获取小说中的所有识别的人物
      operationId: getCharacters
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: sortBy
          in: query
          description: 排序字段
          schema:
            type: string
            enum: [name, appearances, importance]
            default: appearances
        - name: minAppearances
          in: query
          description: 最少出场次数过滤
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Character'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /novels/{novelId}/characters/{characterId}:
    get:
      tags:
        - 关系图谱
      summary: 获取人物详情
      description: 获取指定人物的详细信息和关系
      operationId: getCharacterDetail
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
        - name: characterId
          in: path
          required: true
          description: 人物 ID
          schema:
            type: string
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  character:
                    $ref: '#/components/schemas/Character'
                  relationships:
                    type: array
                    items:
                      $ref: '#/components/schemas/Relationship'
                  appearances:
                    type: array
                    items:
                      type: object
                      properties:
                        chapterId:
                          type: string
                        chapterTitle:
                          type: string
                        context:
                          type: string
                          description: 出场上下文片段
                  relatedCharacters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Character'
                    description: 相关人物
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== 统计信息 ====================
  /stats/overview:
    get:
      tags:
        - 统计信息
      summary: 获取用户数据概览
      description: 获取当前用户的整体数据统计
      operationId: getStatsOverview
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  novels:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 小说总数
                        example: 15
                      totalWordCount:
                        type: integer
                        description: 总字数
                        example: 25000000
                      totalChapters:
                        type: integer
                        description: 总章节数
                        example: 3500
                  storage:
                    type: object
                    properties:
                      used:
                        type: integer
                        description: 已使用存储空间（字节）
                        example: 104857600
                      limit:
                        type: integer
                        description: 存储空间限制（字节）
                        example: 1073741824
                      usagePercentage:
                        type: number
                        description: 使用百分比
                        example: 9.77
                  searches:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 总搜索次数
                        example: 342
                      last7Days:
                        type: integer
                        description: 最近 7 天搜索次数
                        example: 28
                  graphs:
                    type: object
                    properties:
                      generated:
                        type: integer
                        description: 已生成图谱数量
                        example: 8
                      totalCharacters:
                        type: integer
                        description: 识别的总人物数
                        example: 456
                      totalRelationships:
                        type: integer
                        description: 识别的总关系数
                        example: 1234
        '401':
          $ref: '#/components/responses/Unauthorized'

  /stats/novels/{novelId}:
    get:
      tags:
        - 统计信息
      summary: 获取单部小说统计
      description: 获取指定小说的详细统计信息
      operationId: getNovelStats
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NovelIdParam'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  novel:
                    type: object
                    properties:
                      id:
                        type: string
                      title:
                        type: string
                      wordCount:
                        type: integer
                      chapterCount:
                        type: integer
                  reading:
                    type: object
                    properties:
                      totalReadTime:
                        type: integer
                        description: 总阅读时间（秒）
                      currentChapter:
                        type: integer
                        description: 当前阅读到的章节
                      progress:
                        type: number
                        description: 阅读进度（百分比）
                  searches:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: 针对此小说的搜索次数
                      topQueries:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: string
                            count:
                              type: integer
                        description: 热门问题
                  graph:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [not_generated, generating, completed, failed]
                      characterCount:
                        type: integer
                      relationshipCount:
                        type: integer
                      generatedAt:
                        type: string
                        format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== 系统管理 ====================
  /health:
    get:
      tags:
        - 系统管理
      summary: 健康检查
      description: 检查系统健康状态
      operationId: healthCheck
      responses:
        '200':
          description: 系统正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  version:
                    type: string
                    example: "1.0.0"
                  timestamp:
                    type: string
                    format: date-time
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [healthy, unhealthy]
                      vectorStore:
                        type: string
                        enum: [healthy, unhealthy]
                      llm:
                        type: string
                        enum: [healthy, unhealthy]
        '503':
          description: 服务不可用

  /system/info:
    get:
      tags:
        - 系统管理
      summary: 获取系统信息
      description: 获取系统配置和限制信息
      operationId: getSystemInfo
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0.0"
                  limits:
                    type: object
                    properties:
                      maxFileSize:
                        type: integer
                        description: 最大文件大小（字节）
                        example: 52428800
                      maxNovelsPerUser:
                        type: integer
                        description: 每用户最大小说数
                        example: 50
                      maxStoragePerUser:
                        type: integer
                        description: 每用户最大存储空间（字节）
                        example: 1073741824
                  features:
                    type: object
                    properties:
                      ragSearch:
                        type: boolean
                        example: true
                      characterGraph:
                        type: boolean
                        example: true
                      multiNovelSearch:
                        type: boolean
                        example: true
                  supportedEncodings:
                    type: array
                    items:
                      type: string
                    example: ["UTF-8", "GBK", "GB2312"]
                  supportedFormats:
                    type: array
                    items:
                      type: string
                    example: ["TXT"]

# ==================== 组件定义 ====================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT 访问令牌

  parameters:
    NovelIdParam:
      name: novelId
      in: path
      required: true
      description: 小说 ID
      schema:
        type: string
        example: "novel_abc123"

  schemas:
    # 用户
    User:
      type: object
      properties:
        id:
          type: string
          example: "user_123"
        username:
          type: string
          example: "novel_reader"
        email:
          type: string
          format: email
          example: "user@example.com"
        createdAt:
          type: string
          format: date-time
        storageUsed:
          type: integer
          description: 已使用存储空间（字节）
        storageLimit:
          type: integer
          description: 存储空间限制（字节）

    # 小说
    Novel:
      type: object
      properties:
        id:
          type: string
          example: "novel_abc123"
        title:
          type: string
          example: "斗破苍穹"
        author:
          type: string
          example: "天蚕土豆"
        description:
          type: string
          example: "这是一部玄幻小说..."
        tags:
          type: array
          items:
            type: string
          example: ["玄幻", "修仙", "热血"]
        wordCount:
          type: integer
          description: 总字数
          example: 1250000
        chapterCount:
          type: integer
          description: 章节数
          example: 450
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: |
            处理状态：
            - pending: 等待处理
            - processing: 处理中
            - completed: 完成
            - failed: 失败
          example: "completed"
        importedAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        hasGraph:
          type: boolean
          description: 是否已生成关系图谱
          example: true

    # 小说详情
    NovelDetail:
      allOf:
        - $ref: '#/components/schemas/Novel'
        - type: object
          properties:
            chapters:
              type: array
              items:
                $ref: '#/components/schemas/Chapter'
            encoding:
              type: string
              description: 文件编码
              example: "UTF-8"
            fileSize:
              type: integer
              description: 文件大小（字节）
            chineseRatio:
              type: number
              description: 中文字符占比
              example: 0.92

    # 章节
    Chapter:
      type: object
      properties:
        id:
          type: string
          example: "chapter_123"
        novelId:
          type: string
          example: "novel_abc123"
        chapterNumber:
          type: integer
          description: 章节序号
          example: 1
        title:
          type: string
          description: 章节标题
          example: "第一章 初入江湖"
        startPosition:
          type: integer
          description: 起始位置（字符索引）
          example: 0
        endPosition:
          type: integer
          description: 结束位置（字符索引）
          example: 5230
        wordCount:
          type: integer
          description: 章节字数
          example: 5230

    # 搜索引用
    SearchReference:
      type: object
      properties:
        novelId:
          type: string
          description: 来源小说 ID
        novelTitle:
          type: string
          description: 来源小说标题
          example: "斗破苍穹"
        chapterId:
          type: string
          description: 来源章节 ID
        chapterTitle:
          type: string
          description: 来源章节标题
          example: "第十五章 拜师"
        chapterNumber:
          type: integer
          description: 章节序号
          example: 15
        paragraphIndex:
          type: integer
          description: 段落索引
          example: 3
        content:
          type: string
          description: 原文内容片段
          example: "\"老师，徒儿拜见！\" 萧炎恭恭敬敬地对着药尘行了一礼。"
        relevanceScore:
          type: number
          minimum: 0
          maximum: 1
          description: 相关度评分
          example: 0.89
        startPosition:
          type: integer
          description: 段落在章节中的起始位置
        highlightText:
          type: string
          description: 高亮文本（关键匹配部分）
          example: "药尘"

    # 搜索历史
    SearchHistory:
      type: object
      properties:
        id:
          type: string
          example: "history_123"
        query:
          type: string
          description: 搜索问题
          example: "萧炎的师父是谁？"
        answer:
          type: string
          description: 答案摘要
          example: "萧炎的师父是药尘..."
        novelIds:
          type: array
          items:
            type: string
          description: 搜索范围小说 ID
        resultCount:
          type: integer
          description: 结果数量
          example: 5
        searchedAt:
          type: string
          format: date-time

    # 人物关系图谱
    CharacterGraph:
      type: object
      properties:
        id:
          type: string
          example: "graph_123"
        novelId:
          type: string
          example: "novel_abc123"
        characters:
          type: array
          items:
            $ref: '#/components/schemas/Character'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationship'
        generatedAt:
          type: string
          format: date-time
        version:
          type: string
          description: 图谱版本
          example: "1.0"

    # 人物
    Character:
      type: object
      properties:
        id:
          type: string
          example: "char_123"
        name:
          type: string
          description: 人物姓名
          example: "萧炎"
        aliases:
          type: array
          items:
            type: string
          description: 别名/称号
          example: ["炎帝", "萧门门主"]
        role:
          type: string
          description: 角色类型
          enum: [protagonist, antagonist, supporting, minor]
          example: "protagonist"
        description:
          type: string
          description: 人物描述
          example: "主角，修炼斗气，逆天崛起..."
        appearances:
          type: integer
          description: 出场次数
          example: 856
        importance:
          type: number
          minimum: 0
          maximum: 1
          description: 重要程度（0-1）
          example: 1.0
        firstAppearance:
          type: object
          properties:
            chapterId:
              type: string
            chapterTitle:
              type: string
          description: 首次出场
        attributes:
          type: object
          description: 人物属性（自由扩展）
          additionalProperties: true
          example:
            gender: "男"
            faction: "萧家"
            level: "斗帝"

    # 关系
    Relationship:
      type: object
      properties:
        id:
          type: string
          example: "rel_123"
        source:
          type: string
          description: 源人物 ID
          example: "char_123"
        target:
          type: string
          description: 目标人物 ID
          example: "char_456"
        type:
          type: string
          description: 关系类型
          enum: [family, friend, enemy, master-disciple, lover, ally, rival]
          example: "master-disciple"
        description:
          type: string
          description: 关系描述
          example: "师徒关系，药尘是萧炎的师父"
        strength:
          type: number
          minimum: 0
          maximum: 10
          description: 关系强度（0-10）
          example: 9.5
        evidence:
          type: array
          items:
            type: object
            properties:
              chapterId:
                type: string
              context:
                type: string
          description: 关系证据（原文片段）

    # 分页
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: 当前页码
          example: 1
        pageSize:
          type: integer
          description: 每页数量
          example: 20
        total:
          type: integer
          description: 总记录数
          example: 156
        totalPages:
          type: integer
          description: 总页数
          example: 8

    # 错误
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: 错误代码
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: 错误描述
              example: "请求参数验证失败"
            details:
              type: string
              description: 详细错误信息
              example: "title: 必填字段"
            timestamp:
              type: string
              format: date-time

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "BAD_REQUEST"
              message: "请求参数错误"

    Unauthorized:
      description: 未授权或令牌无效
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "未授权访问，请先登录"

    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "NOT_FOUND"
              message: "请求的资源不存在"

    TooManyRequests:
      description: 请求过于频繁
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "RATE_LIMIT_EXCEEDED"
              message: "请求过于频繁，请稍后再试"
      headers:
        X-RateLimit-Limit:
          description: 速率限制
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: 剩余请求次数
          schema:
            type: integer
        X-RateLimit-Reset:
          description: 重置时间（Unix 时间戳）
          schema:
            type: integer

